<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baja.isave">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_s_hijau"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--<service android:name=".getToken">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <service
            android:name=".Firebase">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".getToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".myClock"
            android:theme="@style/BlackTheme" />
        <activity
            android:name=".myAlarm"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dismissAlarm"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTheme"
            android:label="dismissAlarm">
        </activity>
        <receiver android:name=".AlarmReceiver" android:process=":remote" />

        <!--<service-->
            <!--android:name=".Firebase"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"></service>-->
    </application>

</manifest>